@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Poppins", sans-serif;
    scroll-behavior: smooth;
}

/* Header Section Styling */
.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
}

.header .header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.header ul {
    display: flex;
    gap: 30px;
}

.header ul li {
    list-style: none;
}

.header ul a {
    color: #f9faf8;
    text-decoration: none;
    font-weight: 300;
}

/* Hero Section Styling */
.hero-section {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    padding: 4rem;
}

.hero-section .hero-text-div {
    padding: 4rem;
}

.hero-section .hero-text-div .hero-header {
    color: #f9faf8;
    font-size: 48px;
}

.hero-section .hero-text-div .hero-subheader {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
}

.hero-section .hero-text-div .hero-btn {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0 0 0;
}

.hero-section .hero-img-div img {
    width: 520px;
    height: auto;
}

/* Info Section */
.info-section .info-heading {
    font-size: 36px;
    color: #1f2937;
    font-weight: 500;
    text-align: center;
    margin: 4rem;
}

.info-section .item-cards img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 5px solid #3882f6;
}

.info-section .item-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.info-section .card {
    margin-bottom: 5rem;
    text-align: center;
}

/* Quote Section */
.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 5rem;
}

.quote-section .quote-div {
    width: 60rem;
}

.quote-section .quote-text {
    font-style: italic;
    font-size: 36px;
    font-weight: 200;
}

.quote-section .quote-owner {
    font-size: 25px;
    text-align: end;
    font-weight: 700;
}
